
{% extends 'beatemplate/base.html' %}

{% block title %}Feed{% endblock %}

{% block content %}
    <header>
        <h1>Bienvenido, 
            {% if request.user.is_authenticated %}
                {{ request.user.username }}
            {% else %}
                Inicia Sesión para disfrutar de todas las funciones
            {% endif %}
        </h1>
    </header>

    <hr>

    {% if request.user.is_authenticated %}
        <div>
            <a href="{% url 'beatemplate:create_playlist' %}">Crear Playlist</a>
        </div>
    {% endif %}

    <div>
        <h1>Últimos Álbumes</h1>

        {% for album in published_albums %}
            <div>
                <h4>
                    <a href="{% url 'beatemplate:detailed_release' album.id album.release_slug %}">
                    {{ album.release_title }}
                    </a>
                </h4>

                <p>
                    {% for artist in album.artists.all %}
                        <a href="{% url 'beatemplate:detailed_artist' artist.id artist.artist_slug %}">
                            {{ artist.artist_name }}
                        </a>
                        {% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>

                <p>
                    {% for tag in album.get_tags %}
                        <a href="{% url 'beatemplate:tag_search' tag.slug %}">
                            {{ tag.name }}
                        </a>
                        {% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>
            </div>
        {% endfor %}
    </div>

    <hr>

    <div>
        <h1>Últimos Singles</h1>

        {% for single in published_singles %}
            <div>
                <h4>
                    <a href="{% url 'beatemplate:detailed_release' single.id single.release_slug %}">
                    {{ single.release_title }}
                    </a>
                </h4>

                <p>
                    {% for artist in single.artists.all %}
                        <a href="{% url 'beatemplate:detailed_artist' artist.id artist.artist_slug %}">
                            {{ artist.artist_name }}
                        </a>
                        {% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>

                <p>
                    {% for tag in single.get_tags %}
                        <a href="{% url 'beatemplate:tag_search' tag.slug %}">
                            {{ tag.name }}
                        </a>
                        {% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>
            </div>
        {% endfor %}
    </div>

    <hr>

    <div>
        <h1>Lanzamientos Anunciados</h1>

        {% for announcement in announced_releases %}
            <div>
                <h4>
                    <a href="{% url 'beatemplate:detailed_release' announcement.id announcement.release_slug %}">
                    {{ announcement.release_title }}
                    </a>
                </h4>

                <p>
                    {% for artist in announcement.artists.all %}
                        <a href="{% url 'beatemplate:detailed_artist' artist.id artist.artist_slug %}">
                            {{ artist.artist_name }}
                        </a>
                        {% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>

                <p>
                    {% for tag in announcement.get_tags %}
                        <a href="{% url 'beatemplate:tag_search' tag.slug %}">
                            {{ tag.name }}
                        </a>
                        {% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>
            </div>
        {% endfor %}
    </div>

    <hr>

    <div>
        <h1>Mejores Artistas</h1>

        {% for artist in artists %}
            <div>
                <h4>
                    <a href="{% url 'beatemplate:detailed_artist' artist.id artist.artist_slug %}">
                    {{ artist.artist_name }}
                    </a>
                </h4>
            </div>
        {% endfor %}
    </div>
{% endblock %}
